body {
    display: grid;
    grid-template-columns: 30vw 3vw 2vw 15vw 2vw 10vw 30vw;
    grid-template-rows: 35vw 5vw 4vw 6vw 10vw 5vw 35vw;
    margin: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
}

#contour {
    grid-column: 1; grid-row: 1;
    background-color: red;
}